@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: 255 115 179;
    ---------: rgb(255 115 179); /* for Tailwind, we only need numbers. without rgb, we do not see the color so I use another empty "variable/class/whatever". Tailwind should purge code anyways */
    --color-secondary: 111 114 185;
  }

  .dark {
    --color-primary: 255 115 4;
    --color-secondary: 113 213 18;
  }

}


@layer components {
  .test-square {
    @apply flex h-60 w-60 bg-primary/50;
  }
}